@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@300;400;700&display=swap');

:root {
    --cor0: #ebe5c5;
    --cor1: #84e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;
    
    --fonte-padrao: 'Roboto', Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
}

header {
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}

header > h1 {
    color: white;
    font-family: var(--fonte-destaque);
    font-size: 3em;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.267);
}

header > p {
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    color: white;
    max-width: 600px;
    margin: auto;
    padding-right: 10px;
    padding-left: 10px;
    margin-bottom: 50px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.315);
}

nav {
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.192);
}

nav > a {
    color: var(--cor1);
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition-duration: .5s;
}

nav > a:hover {
    background-color: var(--cor3);
    color: var(--cor5);
}

main {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.418);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main h1 {
    color: var(--cor5);
    font-family: var(--fonte-destaque);
    font-weight: normal;
    font-size: 1.8em;
}

main h2 {
    font-family: var(--fonte-destaque);
    color: var(--cor4);
    font-size: 1.3em;
    background-image: linear-gradient(to right, var(--cor1), transparent);
    text-indent: 8px;
    font-weight: normal;
}

main p {
    margin: 15px 0px;
    text-align: justify;
    line-height: 1.5em;
    text-indent: 30px;
}

main strong {
    color: var(--cor4);
    font-weight: bold;
}

main img {
    width: 100%;
}

main img.pequena {
    max-width: 450px;
    display: block;
    margin: auto;
}

.designer-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--cor1);
    padding: 20px;
    border-radius: 10px;
    margin: 20px 0;
}

.designer-section img {
    border-radius: 10px;
    object-fit: cover;
    margin-bottom: 15px;
    border: 5px solid white;
}

.video-container {
    margin: 30px 0;
    position: relative;
    padding-bottom: 56.25%; /* 16:9 Aspect Ratio */
    height: 0;
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.video-placeholder {
    background-color: var(--cor5);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    position: relative;
    padding-bottom: 56.5%;
    height: 0;
}

.video-placeholder > p {
    color: white;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

aside {
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.281);
}

aside > h3 {
    background-color: var(--cor4);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

aside > ul {
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    columns: 2;
}

footer {
    background-color: var(--cor5);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}

footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
    color: var(--cor1);
}
